
    * {
      -webkit-user-drag: none;
      font-family: 'Noto Sans TC', sans-serif;
      color: #222934;

    }

    thead {
      font-weight: 600;
    }

    .filterBtn {
      color: #222934;
      background-color: #FFC845;
    }

    .filterBtn:hover {
      color: #222934;
      background-color: #FFC845;
    }

    .filterBtn:active {
      color: #222934;
      background-color: #FFC845;
    }

    .filterBtn:visited {
      color: #222934;
      background-color: #FFC845;
    }

    .filterBtn:focus {
      color: #222934;
      background-color: #FFC845;
    }

    .detailBtn {
      color: #222934;
      background-color: #D5EEEE;
    }

    .detailBtn:hover {
      color: #fff;
      background-color: #49586f;
    }

    .detailBtn:active {
      color: #fff;
      background-color: #49586f;
    }

    .detailBtn:visited {
      color: #fff;
      background-color: #49586f;
    }

    .detailBtn:focus {
      color: #222934;
      background-color: #D5EEEE;
    }


    .catBtn {
      background-color: #D5EEEE;
      color: #222934;
      font-size: 1.25rem;
    }

    .catBtn:hover {
      color: #fff;
      background-color: #49586f;
    }

    .keywordBar,
    .priceBar {
      height: 48px;
    }

    .countBox {
      line-height: 37px;
      height: 37px;
      font-size: 16px;

    }

    .orderBtn {
      border: 2px solid #49586f;
      color: #222934;
      padding: 5px;
      margin-left: 3px;
      border-radius: 3px;
      text-decoration: none;
      text-align: center;
    }

    .orderBtn:hover {
      color: #fff;
      background-color: #49586f;
    }

    .pageBtn {
      padding: 10px;
      border: 2px solid #49586f;
      border-radius: 5px;
      color: #222934;
      text-decoration: none;
    }

    .pageBtn:active {
      color: #fff;
      background-color: #49586f;
    }

    .pageBtn:hover {
      color: #fff;
      background-color: #49586f;
    }

    .dateF {
      font-size: 0.8rem;
    }

    .dateS {
      height: 30px;
    }