        body {
            position: relative;
        }

        .emailinput,
        .phoneinput {
            height: 70px;
        }

        .passwordinput,
        .accountinput,
        .nameinput {

            height: 55px;
        }

        .iconpen {
            margin-top: 5px;
            margin-right: 8px;
            width: 30px;
            height: 40px;
        }

        .photoinputALL {
            margin-top: 25px;
            width: 530px;

            font-size: 20px;
            font-weight: 200;

        }


        .imgALL {
            margin-right: 50PX;
        }

        .table1 {
            width: 650px;
            font-size: 20px;
            font-weight: 200;

        }

        .input1 {
            margin-top: 8px;

        }

        .btn1 {
            background-color: #49586f;
            margin-top: 10px;
            margin-right: 15px;
            width: 130px;
            height: 40px;
            color: white;
            border-radius: 5px;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .btn1:hover {
            background-color: #ffc845;
            color: #000;
        }

        .btn2 {
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            background-color: #D5EEEE;
            margin-top: 10px;
            width: 130px;
            height: 40px;
            border-radius: 5px;
        }


        .btn2:hover {
            background-color: #ffc845;
            color: #000;
        }

        .btn3up {
            margin: 20px 0 0 0;
            background-color: #FFC845;
            width: 80px;
            height: 38px;
            border-radius: 5px;
            line-height: 25px;
        }

        .btndiv {
            position: absolute;
            right: 13%;
            top: 68%;
        }

        .btn4 {
            background-color: #FFC845;
            width: 80px;
            height: 50px;
            border-radius: 5px;
        }

        .object-cover {
            width: 550px;
            height: 450px;
            object-fit: cover;
           margin-right: 80px;
            margin-left: 50px;
        }

        .btnphoto {
            border-radius: 5px;
            width: 100px;
            height: 35px;
            background-color: #FFC845;
        }

        .inputphoto {
            width: 250px;
            background-color: #D5EEEE;
        }


        .toastify {
            background: url("../store-info/IMAGES/bg_dog-icon.png") 12px center / 50px no-repeat, url('../store-info/IMAGES/bg_toast-bg.png') no-repeat center center / cover, #fff !important;
            color: #000;
        }