main{
    overflow: hidden;
}
.filterBtn,
.filterBtn:active,
.filterBtn:focus {
    color: #222934;
    background-color: #FFC845;
    border: 0;
    transition: all .3s;
}

.filterBtn:hover {  
    color: #222934;
    background-color: #ffe3a1;
}


.filterBtn:visited {
    color: #222934;
background-color: #FFC845;
}

.text-word-break{
    word-break: break-all;
    min-width: 50px;
    max-width: 200px;
}

.object-cover{
    object-fit: cover;
}

.stickers{
    border: 1px solid #ccc;;
    border-radius: 50%;
}