.catBtn {
    background-color: #D5EEEE;
    color: #222934;
    font-size: 1.25rem;
}

.catBtn:hover {
    color: #fff;
    background-color: #49586f;
}

.searchBtn {
    background-color: #FFC845;
}

.orderBtn {
    border: 2px solid #49586f;
    color: #222934;
    padding: 5px;
    margin-left: 3px;
    border-radius: 3px;
    text-align: center;
}

.countBox {
    line-height: 37px;
    height: 37px;
    font-size: 16px;

}

.filterBtn {
    color: #222934;
    background-color: #FFC845;
}

.filterBtn:hover {
    color: #222934;
    background-color: #FFC845;
}

.filterBtn:active {
    color: #222934;
    background-color: #FFC845;
}

.filterBtn:visited {
    color: #222934;
    background-color: #FFC845;
}

.filterBtn:focus {
    color: #222934;
    background-color: #FFC845;
}