.lightblueBtn,
.lightblueBtn:focus {
    color: #222934;
    background-color: #D5EEEE;
}

.lightblueBtn:active,
.lightblueBtn:hover {
    color: #fff;
    background-color: #49586f;
}

.bBtn {
    text-decoration: none;
    color: #222934;
}

.bBtn:hover {
    color: white;
}

.detail {
    background: #FFC845;
    line-height: 3px;
    padding: 4px 12px;
    border-radius: 5px;
}